/* Global */
@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway&display=swap');
.container-fluid {
    padding: 0;
    margin: 0;
}
/* End Global */

.logo {
  padding-top: -10px;
  width: 5px;
  height: 3px;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    height: 60%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* rotating images */
  .fresco1 { 
    background-image: url("../img/fresco1.jpg"); 
  }
  .fresco2 { 
    background-image: url("../img/fresco2.jpg"); 
  }
  .fresco3 { 
    background-image: url("../img/fresco3.jpg"); 
  }
  .fresco4 { 
    background-image: url("../img/fresco4.jpg"); 
  }
  .fresco5 { 
    background-image: url("../img/fresco5.jpg"); 
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 60px;
    border: 10px solid #f1f1f1;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 700px;
    padding: 20px;
    text-align: center;
  }